@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-br from-blue-600 to-indigo-900;
    animation: gradientFlow 15s ease infinite;
  }

  @keyframes gradientFlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@media screen and (min-width: 480px) {
  @layer components {
    .card:nth-child(7n + 1) {
      @apply col-span-2 row-span-2;
    }
  }
}

@layer components {
  .prompt::-webkit-scrollbar {
    width: 5px;
  }

  .prompt::-webkit-scrollbar-thumb {
    background-color: #666e75;
    border-radius: 5px;
  }
}
